@import "https://fonts.googleapis.com/css2?family=Inconsolata&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0; }

#bts, #ateez, #skz {
  background-color: #060111e5; }

#ateez {
  background-color: #3d0c06f1; }

#skz {
  background-color: #050442f1; }

#bts, #ateez, #skz {
  color: aliceblue; }

section {
  margin-bottom: 20px;
  padding: 30px 0px; }
  section h2 {
    color: #dbf7ee;
    font-family: 'Josefin Sans', sans-serif; }

.contenedor {
  margin: 20px auto;
  background-color: #77b7f0;
  padding: 20px;
  border-radius: 15px;
  font-family: 'Inconsolata', monospace; }

body {
  background-color: #a4cff5; }

nav li {
  background-color: #5858d6;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none; }
  nav li:hover {
    color: #5858d6;
    background-color: aliceblue; }

label,
input {
  margin: 15px 3px; }

.cont_img,
h1,
h2, h3, h4,
footer {
  text-align: center; }

.cont_btn {
  text-align: center;
  margin-top: 10px; }

a {
  text-decoration: none;
  color: aliceblue; }
  a:hover {
    text-decoration: none; }

.images {
  width: 100%;
  height: 100%;
  border: 2px black solid;
  border-radius: 10px; }

.div1 {
  height: 70%;
  width: 100%;
  position: relative; }

.div1 .div2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s; }

.div1:hover .div2 {
  opacity: 1; }

.img_genero {
  min-height: 250px;
  text-align: center;
  margin-top: 15%; }
  .img_genero > img {
    height: 80%;
    width: 100%; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contenedor {
    width: 80%; }
  .gridContainer {
    display: grid;
    grid-template-areas: "header header" "navIzq navDer"; }
  .img_logo {
    height: auto;
    width: 100px;
    border: none; }
  header {
    grid-area: header;
    display: flex;
    justify-content: center; }
  div.navIzq {
    grid-area: navIzq; }
  .navIzq ul {
    display: flex;
    justify-content: space-around; }
  .navDer ul {
    display: flex;
    justify-content: space-around; }
  li {
    padding: 10px;
    list-style-type: none; }
  div.navDer {
    grid-area: navDer; }
  section.parrafo {
    grid-area: parrafo; }
  section.imgParrafo {
    grid-area: img; }
  footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding-top: 20px; } }

@media only screen and (min-width: 768px) {
  .img_logo {
    height: auto;
    width: 120px;
    margin: 10px;
    border: none; }
  .gridContainer {
    display: grid;
    grid-template-areas: "navIzq navIzq header header navDer navDer";
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; }
  header {
    grid-area: header;
    text-align: center; }
  div.navIzq {
    grid-area: navIzq; }
  .navIzq ul {
    display: flex;
    justify-content: space-around; }
  .navDer ul {
    display: flex;
    justify-content: space-around; }
  li {
    padding: 10px;
    list-style-type: none;
    position: relative;
    top: 20px; }
  div.navDer {
    grid-area: navDer; } }
